// Theme Colors
$dark: rgb(33, 37, 41);
$black: #212529;
$white: #FFFFFF;
$whiter: #FFFFFF8C;
$light: #f8f9fa;
$smoke: rgb(248, 249, 250);
$navyBlue: #0d6efd; 
$hoverBlue: #024dbe; 
$buttonBlue: rgb(13, 110, 253);

// Font
$lightFont: 300 normal 20px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$mediumFont: 400 normal 16px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$regularFont: 700 28px/1.8 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$boldFont: 700 normal 48px/1.2 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Time
$time: 0.3s;

